@import '../common.scss';

.page {
    @extend .spaced-across;
    align-items: flex-start;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;

    @include mobile {
        flex-direction: column-reverse;
    } 
}

.fullWidth {
    width: 100%;
    display: flex;
    justify-content: center;
}

.checkout {
  width: 60%;

  @include mobile {
    width: 100%;
  }
}

.list {
  @extend .spaced-down, .right-divider;
  padding-right: 40px;


  @include mobile {
    width: 100%;
    padding-right: 0px;
  }
}
