@use '../common.scss' as common;

.page {
    @include common.spaced-across;
    align-items: flex-start;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;

    @include common.mobile {
        flex-direction: column;
    } 
}

.list {
    @include common.spaced-down;
    width: 50%;
    padding-left: 40px;

    @include common.mobile {
        width: 100%;
        padding-left: 0px;
    }
}

.summary {
    @include common.spaced-down;
    @include common.right-divider;
    width: 50%;
    margin: 20px 40px 40px 40px;
    padding-right: 40px;

    @include common.mobile {
        width: 100%;
        margin: 0px;
        padding-right: 0px;
        border-right: none;
    }
}

.fullWidth {
    width: 100%;
    display: flex;
    justify-content: center;
}
