@use '../common.scss' as common;

.content {
  @include common.spaced-across;
  max-width: 820px;
  margin: 0 auto;
  gap: 30px;

  @include common.mobile {
    flex-direction: column-reverse;
  } 
}

.main {
  margin: 0 55px;

  @include common.mobile {
    margin: 0px;
  }

  h1 {
    @include common.heading1;
  }
  h2 {
    @include common.heading2;
  }
  p {
    @include common.paragraph;
  }
}

.textContainer {
    @include common.spaced-down;
    font-size: 1.2rem;
    line-height: 2;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include common.mobile {
        p {
          margin: 20px;
        }
    }
}

.imageContainer {
    width: 40%;
    position: relative;
    overflow: hidden;
    min-height: 500px;

    @include common.mobile {
        width: 100%;
    }
}

.imageContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    radial-gradient(circle at center, transparent 0%, rgba(255, 255, 255, 0.4) 100%),
    linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, transparent 10%, transparent 90%, rgba(255, 255, 255, 0.4) 100%),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, transparent 10%, transparent 90%, rgba(255, 255, 255, 0.4) 100%);
  pointer-events: none;
}
