@import '../common.scss';

.main {
  @extend .spaced-down;
  margin: 0 60px;
  padding: 40px 0;

  h1 {
    @extend .heading1
  }
  h2 {
    @extend .heading2;
  }
  p {
    @extend .paragraph;
  }
  
  @include mobile {
    margin: 0;
    padding: 20px;
  }
}

.content {
  @extend .spaced-down;
  max-width: 800px;
  margin: 0 auto;
  gap: 30px;
}



