@use '../common.scss' as common;

.main {
  margin: 0 60px;
  padding: 40px 0;

  @include common.mobile {
    margin: 0;
    padding: 20px;
  }

  h1 {
    @extend common, .heading1 !optional
  }
  h2 {
    @extend common, .heading2 !optional;
  }
  p {
    @extend common, .paragraph !optional;
  }
}

.content {
  @extend common, .spaced-down !optional;
  max-width: 800px;
  margin: 0 auto;
  gap: 30px;
}
