@use '../common.scss' as common;

.main {
  margin: 0 60px;
  @include common.spaced-down;
  gap: 20px;

  h1 {
    @include common.heading1;
  }
  h2 {
    @include common.heading2;
  }
  p {
    @include common.paragraph;
  }

  @include common.mobile {
    margin: 0;
    padding: 0 20px;
  }
}

.content {
  @include common.spaced-down;
  max-width: 800px;
  margin: 0 auto;
  gap: 30px;
}


