@use '../common.scss' as common;

.page {
    @include common.spaced-across;
    align-items: flex-start;
    padding: 20px 0;
    margin-right: 20px; 
    justify-content: space-between;
}

.leftSection {
    @include common.spaced-across;
    align-items: flex-start;
    gap: 20px;
}

.thumbnail {
    width: 200px;
    display: block;
    cursor: pointer;
}

.name {
    font-family: var(--font-s);
    font-size: small;
    letter-spacing: 0px;
    font-weight: 600;
    text-align: left;
    padding-right: 20px;
}

.remove {
    @include common.underline-button;
    font-size: smaller;
    font-family: var(--font-ss);
    margin-top: 20px;
    cursor: pointer;
}

.details {
    @include common.spaced-down;
    align-items: flex-start;
}

.price {
    font-weight: 600;
}