@use '../common.scss' as common;

.header {
  @include common.spaced-across;
  @include common.divider;
  text-transform: uppercase;
  font-size: small; 

  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 20px;

  @include common.mobile {
    margin-right: 0;
  }
}
