@use '../common.scss' as common;

.header {
  @extend common, .spaced-across !optional;
  @extend common, .divider !optional;
  text-transform: uppercase;
  font-size: small; 

  padding-bottom: 20px;
  margin-bottom: 20px;
}
