@use '../common.scss' as common;

.page {
    @include common.spaced-down;
    align-items: center;
    padding: 60px 0;
}

.emptyMessage {
    text-align: center;
    font-family: var(--font-s);
    font-size: medium;
    margin-bottom: 40px;
}

.continue {
    @include common.button;
    border: 1px solid black;
    background-color: white;
    letter-spacing: 2px;
    padding: 15px 30px;
    cursor: pointer;
    width: fit-content;
} 