@import '../common.scss';

.page {
    @extend .spaced-across;
    align-items: flex-start;
    height: 100%;
    margin: 20px;
}

.continue {
    @extend .button;
    align-self: flex-start;
    border: 1px solid black;
    background-color: white;
    letter-spacing: 2px;
    padding: 15px 30px;
    margin-bottom: 60px;
}

.list {
    @extend .spaced-down, .right-divider;
    width: 60%;
    margin: 40px;
    padding-right: 40px;
}

.summary {
    @extend .spaced-down;

    width: 40%;
    margin: 40px;
}