@use '../common.scss' as common;

.main {
    @include common.spaced-down;
}

.page {
    @include common.spaced-across;
    align-items: flex-start;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;

    @include common.mobile {
        flex-direction: column-reverse;
    }   
}

.list {
    @include common.spaced-down;
    width: 50%;
    padding-left: 40px;

    @include common.mobile {
        width: 100%;
        padding-left: 0px;
    }
}

.summary {
    @include common.spaced-down;
    @include common.right-divider;
    width: 50%;
    margin: 20px 40px 40px 40px;
    padding-right: 40px;
    padding-top: 60px;

    @include common.mobile {
        width: 100%;
        margin: 0px;
        padding-top: 0px;
        padding-right: 0px;
        border-right: none;
    }
}

.continue {
    @include common.button;
    align-self: flex-start;
    border: 1px solid black;
    background-color: white;
    color: black;
    letter-spacing: 2px;
    padding: 15px 30px;
    margin-bottom: 40px;
    margin-left: 60px;
    @include common.mobile {
        margin-left: 20px;
    }   
    cursor: pointer;
}
