@use '../common.scss' as common;

.page {
    @include common.spaced-down;
    margin-bottom: 40px;
}

.buttons {
    @include common.spaced-across;
    margin: 50px 0;
    @include common.mobile {
        margin: 20px 0;
    }
}

.checkout {
    @include common.button;
    border: 1px solid black;
    background-color: black;
    color: white;
    flex: 0 1 auto;
    min-width: 200px;
    padding: 20px 30px;
    font-size: small;
    letter-spacing: 2px;
}

.paymentMethods {
    @include common.spaced-down;
    font-size: smaller;
    font-family: var(--font-s);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.paymentSymbols {
    @include common.spaced-across;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.paymentIcon {
    opacity: 0.7;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 1;
    }
}