@use '../common.scss' as common;

.page {
    @include common.spaced-across;
    font-family: var(--font-s);

}

.excludingDelivery {
    font-size: small;
    font-weight: 400;
    margin-left: 10px;
}

.totalPrice {
    font-weight: 600;
}