@mixin divider {
  border-bottom: 1px solid #ebebeb;
}

@mixin top-divider {
  border-top: 1px solid #ebebeb;
}

@mixin left-divider {
  border-left: 1px solid #ebebeb;
}

@mixin right-divider {
  border-right: 1px solid #ebebeb;
}

// Media query mixins
@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}

// Common breakpoints
$breakpoints: (
  'mobile': 768px,
  'tablet': 1024px,
  'desktop': 1025px
);

// Responsive mixin that works with any breakpoint
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}";
  }
}

@mixin spaced-across {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin spaced-down {
  display: flex;
  flex-direction: column;
}

@mixin button {
  letter-spacing: 2px;
  border-radius: 3px;
  text-transform: uppercase;
  text-wrap: nowrap;
  cursor: pointer;
}

@mixin underline-button {
  text-decoration: underline;
  text-underline-offset: 8px;
  border: none;
  background-color: transparent;
  font-size: small;
  cursor: pointer;
}

// Common heading styles
@mixin heading1 {
  font-size: 1.7rem;
  margin-bottom: 10px;

  @include mobile {
    font-size: 1.4rem;
    margin-bottom: 0px;
  }
}

@mixin heading2 {
  font-size: 1.3rem;
  margin-top: 0px;
  margin-bottom: 0px;

  @include mobile {
    font-size: 1.1rem;
  }
}

@mixin paragraph {
  font-size: 1.2rem;
  line-height: 2;

  @include mobile {
    font-size: 0.9rem;
    line-height: 1.8;
  }
}

@mixin email {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
  
  &:hover {
    opacity: 0.8;
  }
}