
.divider {
  border-bottom: 1px solid #ebebeb;
}

.top-divider {
  border-top: 1px solid #ebebeb;
}

.left-divider {
  border-left: 1px solid #ebebeb;
}

.right-divider {
  border-right: 1px solid #ebebeb;
}

.spaced-across {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spaced-down {
  display: flex;
  flex-direction: column;
}

.button {
  letter-spacing: 2px;
  border-radius: 3px;
  text-transform: uppercase;
  text-wrap: nowrap;
  cursor: pointer;
}

.underline-button {
  text-decoration: underline;
  text-underline-offset: 8px;
  border: none;
  background-color: transparent;
  font-size: small;
  cursor: pointer;

}