@import 'common.scss';

.footer {
    @extend .spaced-across, .top-divider;
    
    margin-top: 44px;
    padding: 24px;
    font-size: x-small;
    text-transform: uppercase;

    & div:hover {
        cursor: pointer;
        color: #424246
    }
}