@import 'common.scss';


.galleryHeader {
    @extend .spaced-across;
    margin: 20px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    gap: 20px;
    margin: 16px;
}

