@use 'common.scss' as common;

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 0 20px;
    width: 100%;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skeleton {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 350 / 470;
}

.skeletonInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    
    span {
        margin: 4px;
    }
}

.skeletonTitle {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    border-radius: 4px;
    height: 20px;
    width: 80%;
    margin: 4px;
}

.skeletonPrice {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    border-radius: 4px;
    height: 20px;
    width: 30%;
    margin: 4px;
}

.skeletonButton {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    border-radius: 3px;
    height: 40px;
    width: 80px;
    align-self: flex-end;
    margin-top: -28px;
    margin-right: 4px;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
