@use 'common.scss' as common;

.gallery {
    columns: 4 350px;
    column-gap: 20px;
    // margin: 16px;
    padding: 0 20px;


    @media (max-width: 1200px) {
        columns: 3 350px;
    }

    @media (max-width: 900px) {
        columns: 2 350px;
    }

    @media (max-width: 600px) {
        columns: 1 350px;
    }
}

.item {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    page-break-inside: avoid;
}

.skeleton {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    border-radius: 4px;
    height: 300px;
    width: 100%;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
