@use 'common.scss' as common;

#topBar {
    @include common.divider;
    position: relative;
    padding: 16px;
    margin-bottom: 40px;
    font-size: smaller; 
}

#logo {
    cursor: pointer;
    letter-spacing: -1px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px #5C4033;
    
    @include common.mobile {
        font-size: 32px;
        text-align: left;
    }
}

#bagCount {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}
