@import 'common.scss';

.main {
    @extend .spaced-down;

    text-align: start;
    margin-bottom: 12px;

    span {
        margin: 4px;
    }
}

.save {
    @extend .button;

    align-self: end;
    margin-top: -18px;
    margin-right: 4px;
    font-size: smaller;
    background-color: slategray;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}