@use 'common.scss' as common;

.main {
    @include common.spaced-down;
    text-align: start;
    margin-bottom: 12px;

    span {
        margin: 4px;
    }

    .save {
        cursor: pointer;
        &:hover {
            color: #424246;
        }

        &.disabled {
            background-color: #cccccc;
            cursor: default;
            &:hover {
                color: white
            }
        }
    }
}

.save {
    @include common.button;
    align-self: end;
    margin-top: -28px;
    margin-right: 4px;
    font-size: smaller;
    background-color: #666666;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}