@import '../../common.scss';

.conditionReport {
  padding-top: 50px;
  font-family: var(--font-ss);
  margin: 30px;
  text-align: left; 


  h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.condition {
  display: flex;
  gap: 10px;
  line-height: 1.6;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.6;
}

.label {
  font-weight: 500;
  min-width: 80px;
}

.value {
  color: #666;
  
  &.notes {
    white-space: pre-line;
  }
} 