@use '../../common.scss' as common;

.images {
    margin-left: 20px;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;

    @include common.mobile {
        margin-right: 40px;
    }
}
