@use '../../common.scss' as common;

.mainBit {
    @extend common, .spaced-across !optional;
    align-items: flex-start;

    @include common.mobile {
        flex-direction: column-reverse;
        margin-left: 20px;
    }
}

.left {
    max-width: 400px;
    flex: 0 0 auto;
    @include common.mobile {
        max-width: 100%;
    }
}

.actions {
    @extend common, .spaced-down !optional;
    margin-left: 20px !important;
    margin-right: 20px;

    // @media only screen and (min-width: 1016px) {
    //     flex: 0 1 calc(50%);
    // }
}