@use '../../common.scss' as common;

.mainBit {
    @include common.spaced-across;
    align-items: flex-start;
    margin-bottom: 60px;

    @include common.mobile {
        flex-direction: column-reverse;
        margin-left: 20px;
    }
}

.left {
    width: 350px; /* Enforce width for absolute positioned images */
    max-width: 100%;
    flex: 0 0 auto;
    @include common.mobile {
        width: 100%;
        max-width: 100%;
    }
}

.actions {
    @include common.spaced-down;
    margin-left: 20px !important;
    margin-right: 20px;

    // @media only screen and (min-width: 1016px) {
    //     flex: 0 1 calc(50%);
    // }
}