.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    a {
        flex: 0 1 calc(50%);
        font-family: var(--font-ss);
        font-size: x-small;
        text-align: center;
        display: inline-block;
        letter-spacing: 2px;
        padding: 20px 30px;
        border-radius: 1px;
        text-transform: uppercase;
        text-wrap: nowrap;
    }

    .addToBag {
        background-color: black;
        color: white;
        margin-right: 18px;
    }

    .saveForLater {
        border: 1px solid black;
    }
}