@import '../../common.scss';

.mainBit {
    @extend .spaced-across;

    margin-top: 48px;
    align-items: flex-start;

    // @media only screen and (max-width: 1016px) {
    //     flex-direction: column-reverse;
    //     align-items: initial;
    //     margin-right: 0px;
    // }
}

.actions {
    @extend .spaced-down;

    @media only screen and (min-width: 1016px) {
        margin-left: 20px !important;
        margin-right: 20px;
        flex: 0 1 calc(50%);
    }

    // @media only screen and (max-width: 1016px) {
    //     margin-right: 20px;
    // }

    .returns {
        align-self: flex-start;
        font-size: smaller;
        margin-bottom: 24px;
    }
}