@import '../../common.scss';

.summary {
    @extend .spaced-down, .divider;

    align-items: flex-start;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.name {
    font-family: var(--font-s);
    font-size: larger;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}
