@import '../../common.scss';

.buttons {
    @extend .spaced-across;

    margin-bottom: 32px;

    a {
        @extend .button;

        flex: 0 1 calc(50%);
        font-size: small;
        letter-spacing: 2px;
        padding: 20px 30px;
    }

    .addToBag {
        background-color: black;
        color: white;
        margin-right: 18px;

        &.disabled {
            background-color: #cccccc;
            cursor: default;
            &:hover {
                color: white;
            }
        }
    }

    .saveForLater {
        border: 1px solid black;
    }
}